version: "3.7"

volumes:
  prometheus_data: {}
  grafana_data: {}

services:

  # https://hub.docker.com/_/nats
  nats:
    image: nats:2.6.2
    hostname: nats
    container_name: nats
    restart: always
    ports:
      - "4222:4222"  # Clients
      - "6222:6222"  # Routing port for clustering
      - "8222:8222"  # HTTP management port for information reporting
    command: [ "-m", "8222", "--user", "user", "--pass", "pass" ]

  nats-exporter:
    build:
      context: .
      dockerfile: Dockerfile.nats-exporter
    hostname: nats-exporter
    container_name: nats-exporter
    restart: always
    depends_on:
      - nats
    ports:
      - "7777:7777"
    command: [ "-port=7777", "-connz", "-routez", "-subz", "-varz", "http://nats:8222" ]

  # https://hub.docker.com/_/rabbitmq
  rabbitmq:
    build:
      context: .
      dockerfile: Dockerfile.rabbitmq
    hostname: rabbitmq
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  # https://hub.docker.com/r/prom/prometheus
  prometheus:
    image: prom/prometheus:v2.30.3
    hostname: prometheus
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
      - "9091:9091"
    volumes:
      - "prometheus_data:/prometheus"
      - "./metrics/prometheus.yml:/prometheus.yml"
    command: [ "--config.file=/prometheus.yml" ]

  # https://hub.docker.com/r/grafana/grafana
  grafana:
    image: grafana/grafana:8.2.1
    hostname: grafana
    container_name: grafana
    restart: always
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - "grafana_data:/var/lib/grafana"
      - "./metrics/grafana.ini:/grafana.ini"
    command: [ "--config=/grafana.ini" ]
